intellij-idea (0.0.1) stable; urgency=medium

  * This is not a normal changelog file. It gets updated in the packaging progress, by update.sh
  * The version is derived from the idealU-x.x.x.tar.gz 

 -- Arend van Waart <arend@studioavw.nl>  Tue, 17 Jan 2017 14:08:19 +0200
